<%=  form_for([@tweet, @tweet.comments.build]) do |f|  %>

      <div class="form-group">
        <div class="control-label col-sm-2">

             <% f.label :body  %>

       </div>

      <div class="col-sm-8">

        <%= f.text_area :body, rows: 5, class: "form-control", placeholder: "Comment.." %>

      </div>

      </div>
   <br><br><br>
      <div class="form-group">

      <div class="col-sm-offset-2 col-sm-10">

          <%= f.submit class: 'btn btn-primary btn-lg' %>

      </div>

</div>

<% end %>
