@import "bootstrap-sprockets";
@import "bootstrap";

//Category display

.cat-name {

background-color: red;

text-transform: uppercase;

letter-spacing: -1px;

font-weight: bold;

}

.input_checkbox input {

width: auto !important;

}
