@import "bootstrap-sprockets";
@import "bootstrap";
 //navbar stuffs

  #logo {
      float: left;
      font-size: 1.7em;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: -1px;
      font-weight: bold;
  }

  #logo:hover {
      color: #fff;
      text-decoration: none;
  }

  .center {
     text-align: center;
  }

  .jumbotron {
    background-image: asset-url(file:///C:/Users/Prabhavathi/Downloads/WhatsApp%20Image%202017-11-05%20at%206.22.28%20PM.jpeg);
    height: 600px;
  }

  .jumbotron h1 {
      color: #fff;
      text-align: center;
      margin-bottom: 30px;
      letter-spacing: -1px;
      font-weight: bold;
  }

  .btn-xlarge {
    font-size: 1.7em;
    background-color: black;
  }

  footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
  }

  footer a:hover {
    color: #222;
  }

  footer small {
    float: left;
  }

  footer ul {
      float: right;
      list-style: none;
  }

  footer ul li {
      float: left;
      margin-left: 15px;
  }


 //show and edit page

  .tweet-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
  }

  .description {
    margin-top: 0;
  }

 // index page
  .tweet-title {
   font-weight: bold;
   font-size: 1.5em;
 }

 .tweet-body {
     border-top: 1px solid #eaeaea;
     padding-top: 15px;
     padding-bottom: 15px;
 }

 // created and updated at
 .tweet-meta-details {
     border-top: 1px solid #eaeaea;
     margin-top: 15px;
 }


 //
 .listing {
     list-style: none;
     padding-left: 0;
 }

 //Category display

 .cat-name {
   background-color: red;
   text-transform: uppercase;
   letter-spacing: -1px;
   font-weight: bold;
 }

 .input_checkbox input {
    width: auto !important;
 }
