

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- // -->

  <div class="container">

    <footer> &copy; Copyright 2017, Likki & Soni <br/> All rights reserved. </footer>

      <hr />
          <div class="text-center center-block">
              <br />
                <a href="https://www.facebook.com/likhith.acharya"><i class="fa fa-facebook-square fa-3x social"></i></a>
                  <a href="https://www.facebook.com/arjun.soni.001"><i class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/likhithacharya"><i class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/106892259531428463432"><i class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:likhithacharya277@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>

  </div>
