<div class="container">

<footer class="footer">

<small>

Copyright © <a href="enter in a link here">2017</a>

by <a href="enter in a link here">Likki & Soni</a>

</small>

<nav>

<ul>



</ul>

</nav>

</footer>

</div>
